<mat-toolbar color="primary">
    <span>ClosetLab</span>
    <span class="spacer" style="flex: 1 1 auto;"></span>
  
    <mat-menu #menuCliente="matMenu">
      <button mat-menu-item [routerLink]="['/clientes/insertar']" style="background-color: inherit; color: inherit;">
        <mat-icon>person_add</mat-icon> Insertar Cliente
      </button>
      <button mat-menu-item [routerLink]="['/clientes/list']" style="background-color: inherit; color: inherit;">
        <mat-icon>list</mat-icon> Listar Clientes
      </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menuCliente" style="background-color: inherit; color: inherit;">
      <mat-icon>people</mat-icon> Clientes
    </button>
  
    <mat-menu #menuMetodoPago="matMenu">
      <button mat-menu-item [routerLink]="['/metodospago/insertar']" style="background-color: inherit; color: inherit;">
        <mat-icon>credit_card</mat-icon> Insertar Método Pago
      </button>
      <button mat-menu-item [routerLink]="['/metodospago/list']" style="background-color: inherit; color: inherit;">
        <mat-icon>list</mat-icon> Listar Métodos Pago
      </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menuMetodoPago" style="background-color: inherit; color: inherit;">
      <mat-icon>payment</mat-icon> Métodos Pago
    </button>
  
    <mat-menu #menuPedido="matMenu">
      <button mat-menu-item [routerLink]="['/pedidos/insertar']" style="background-color: inherit; color: inherit;">
        <mat-icon>add_shopping_cart</mat-icon> Insertar Pedido
      </button>
      <button mat-menu-item [routerLink]="['/pedidos/list']" style="background-color: inherit; color: inherit;">
        <mat-icon>list</mat-icon> Listar Pedidos
      </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menuPedido" style="background-color: inherit; color: inherit;">
      <mat-icon>shopping_cart</mat-icon> Pedidos
    </button>
  
    <mat-menu #menuPrenda="matMenu">
      <button mat-menu-item [routerLink]="['/prendas/insertar']" style="background-color: inherit; color: inherit;">
        <mat-icon>add_circle_outline</mat-icon> Insertar Prenda
      </button>
      <button mat-menu-item [routerLink]="['/prendas/list']" style="background-color: inherit; color: inherit;">
        <mat-icon>list</mat-icon> Listar Prendas
      </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menuPrenda" style="background-color: inherit; color: inherit;">
      <mat-icon>checkroom</mat-icon> Prendas
    </button>
  
    <mat-menu #menuValoracion="matMenu">
      <button mat-menu-item [routerLink]="['/valoraciones/insertar']" style="background-color: inherit; color: inherit;">
        <mat-icon>star_rate</mat-icon> Insertar Valoración
      </button>
      <button mat-menu-item [routerLink]="['/valoraciones/list']" style="background-color: inherit; color: inherit;">
        <mat-icon>list</mat-icon> Listar Valoraciones
      </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menuValoracion" style="background-color: inherit; color: inherit;">
      <mat-icon>rate_review</mat-icon> Valoraciones
    </button>
  
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon> Cerrar Sesión
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
  
  <div class="container">
    <mat-toolbar color="primary">
      <span>Lista de Clientes</span>
      <span class="spacer" style="flex: 1 1 auto;"></span>
      <button mat-raised-button style="background-color: #ff4081; color: white;" [routerLink]="['/clientes/insertar']">
        Insertar Cliente
      </button>
    </mat-toolbar>
    <div class="table-container">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar en todas las columnas">
      </mat-form-field>
      <table mat-table [dataSource]="clienteDataSource" class="mat-elevation-z8">
  
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let cliente"> {{cliente.id}} </td>
        </ng-container>
  
        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let cliente"> {{cliente.nombre}} </td>
        </ng-container>
  
        <!-- Genero Column -->
        <ng-container matColumnDef="genero">
          <th mat-header-cell *matHeaderCellDef> Género </th>
          <td mat-cell *matCellDef="let cliente"> {{cliente.genero}} </td>
        </ng-container>
  
        <!-- Fecha Nacimiento Column -->
        <ng-container matColumnDef="fNacimiento">
          <th mat-header-cell *matHeaderCellDef> Fecha de Nacimiento </th>
          <td mat-cell *matCellDef="let cliente"> {{cliente.fNacimiento | date}} </td>
        </ng-container>
  
        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let cliente"> {{cliente.email}} </td>
        </ng-container>
  
        <!-- Dirección Column -->
        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef> Dirección </th>
          <td mat-cell *matCellDef="let cliente"> {{cliente.direccion}} </td>
        </ng-container>
  
        <!-- Talla Column -->
        <ng-container matColumnDef="talla">
          <th mat-header-cell *matHeaderCellDef> Talla </th>
          <td mat-cell *matCellDef="let cliente"> {{cliente.talla}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  